{% extends "services/services_base.html" %}
{% load bootstrap_tags %}
{% load i18n %}

{% block head %}
{{ block.super }}

<style>
  .margin-top-50 {
  margin-top: 50px;}
  /*Filter START*/
  .filterable {
  margin-top: 15px;
  }
  .filterable .panel-heading .pull-right {
  margin-top: -20px;
  }
  .filterable .filters input[disabled] {
  background-color: transparent;
  border: none;
  cursor: auto;
  box-shadow: none;
  padding: 0;
  height: auto;
  }
  .filterable .filters input[disabled]::-webkit-input-placeholder {
  color: #333;
  }
  .filterable .filters input[disabled]::-moz-placeholder {
  color: #333;
  }
  .filterable .filters input[disabled]:-ms-input-placeholder {
  color: #333;
  }
  /*Filter END*/

  .table-widthB{
  width: 98%;
  }

  .table-widthA{
  width: 98%;
  }

  .bg{
  background-color: white;
  }

  .tablescroll {
  overflow-y: auto;
  overflow-x: hidden;
  height: 189px;
  margin-right: 1px;
  }
  .marginTop30{
  margin-top:30px;
  }

  .radio,
  .checkbox {
  margin-top: 0px;
  margin-bottom: 0px;
  }

  .checkbox,.radio{
  margin-top:0px;
  margin-bottom:0px
  }

  .radio-margin{
  margin-left: -13px;
  margin-top: 7px;
  }
  .radio-margin{
  margin-left: -13px;
  margin-top: 7px;
  }
  .EU_DataTable td, th {
  padding: 6px;
  border: 1px solid #ccc;
  text-align: left;
  height: 50px;
  }
  th {
  background: #e5e5e5;
  color: #454545;
  font-weight: bold;
  height: 40px;
  }
  /*Radio and Checkbox START*/
  .checkbox label:after,
  .radio label:after {
  content: '';
  display: table;
  clear: both;
  }

  .checkbox .cr,
  .radio .cr {
  position: relative;
  display: inline-block;
  border: 1px solid #a9a9a9;
  border-radius: .25em;
  width: 1.3em;
  height: 1.3em;
  float: left;
  margin-right: .5em;
  }

  .radio .cr {
  border-radius: 50%;
  }

  .checkbox .cr .cr-icon,
  .radio .cr .cr-icon {
  position: absolute;
  font-size: .8em;
  line-height: 0;
  top: 50%;
  left: 20%;
  }

  .checkbox label input[type="checkbox"],
  .radio label input[type="radio"] {
  display: none;
  }

  .checkbox label input[type="checkbox"] + .cr > .cr-icon,
  .radio label input[type="radio"] + .cr > .cr-icon {
  transform: scale(3) rotateZ(-20deg);
  opacity: 0;
  transition: all .3s ease-in;
  }

  .checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
  .radio label input[type="radio"]:checked + .cr > .cr-icon {
  transform: scale(1) rotateZ(0deg);
  opacity: 1;
  }

  .checkbox label input[type="checkbox"]:disabled + .cr,
  .radio label input[type="radio"]:disabled + .cr {
  opacity: .5;
  }
</style>
{% endblock %}

{% block title %} Register Service - {{ block.super }} {% endblock %}

{% block body_outer %}
<div class="page-header">
  <h2>{% trans "Register New Service" %}</h2>
</div>
    <form method="POST" id="service_register_form">
    {% csrf_token %}
    {{ create_service_form|as_bootstrap }}
    <div align="center"><p><input type="button" class="btn btn-primary pull-left" id="get_layers_button" value="{% trans "Get Layers" %}" style="margin-right:5px" /></p></div>
    <div align="center"><p><input type="submit" class="btn btn-primary pull-left" id="submit_button" value="{% trans "Create" %}" /></p></div>
    </form>

    <div class="row margin-top-50">
		  <div class="col-md-12">
        <div class="panel panel-primary filterable">
          <div class="panel-heading">
            <h3 class="panel-title">Available Layers<span style="color: white; font-weight: bold;"> </span></h3>
              <div class="pull-right">
                <button type="button" class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Filter</button>
              </div>
          </div>
          <div class="bg tablescroll">
            <table id="available_layers" class="table table-bordered table-striped" style="cursor: pointer;"></table>
          </div>
        </div>
      </div>
    </div>

    <div id="responseDiv" style="display:none;">
        <h4>{%  trans "Service has been created:" %}</h4>
    </div>

    <div class="error" style="display:none;">
    </div>

    <div id="tableDiv" style="display:none;">
        <p>{%  trans "The following layers will be imported" %}</p>
        <table id="dataTable"></table>
    </div>
{% endblock %}
{% block extra_script %}
<script type="text/javascript">
    $( document ).ready(function() {
        // functionality added to retrieve available layers
        $("#get_layers_button").click(function(e) {
          layers_arr = [];
          $( "#available_layers" ).empty();
          var service_url = $('#id_url').val();

          whole_url = "{% url 'get_layers' %}"
          $.ajax({
            type: "POST",
            url: whole_url,
            data: { json_data: JSON.stringify({ service_url: service_url }) },
            success: function(data) {
              available_layers = data['layers'];
              existing_layers = data['existing_layers'];
              for (i = 0; i < available_layers.length; i++) {
                if ($.inArray(available_layers[i], existing_layers) != -1){
                  $( "#available_layers" ).append('<tr><td style="width: 99.8%; background-color:#70a96b" class="chosen">' + available_layers[i] + '</tr>');
                } else {
                  $( "#available_layers" ).append('<tr><td style="width: 99.8%; background-color:#d25b5b">' + available_layers[i] + '</tr>');
                }

              }
            },
            error: function(data) {
            },
          });
        });


        // create list of checked layers
        $( "table" ).delegate( "td", "click", function() {
          if ($(this).hasClass("chosen")){
            $(this).toggleClass("chosen");
            $(this).css("background-color", "#d25b5b");
            layers_arr.splice( $.inArray($(this).text(),layers_arr) ,1 );
          } else {
            $(this).toggleClass("chosen");
            $(this).css("background-color", "#70a96b");
            layers_arr.push($(this).text());
          }

        });


        $("#service_register_form").submit(function(e) {
            var service_name_regexp = new RegExp('^[a-zA-Z]+[a-zA-Z0-9-_\.]*$');
            if(!service_name_regexp.test($("#id_name").val())) {
                $("#responseDiv").html("Service name must start with a letter, followed by letters, numbers, or the characters: . - _").show();
                $("#submit_button").prop("disabled",false);
                return false;
            }

            $("#responseDiv").html("Importing service, please wait...").show();
            $(".result").remove();
            $("#tableDiv").hide();
            $("#dataTable").html("");
            $(".error").html("");
            $("#submit_button").prop("disabled",true);
            e.preventDefault();
            var url = $("#service_register_form").attr( "action" );

            // prepare the layers to pass to the request
            layers_sub_url = '';
            for (i = 0; i < layers_arr.length; i++) {
              layers_sub_url = layers_sub_url + '&layer' + i + '=' + layers_arr[i]
            }

            $.ajax({
                type: "POST",
                url: url,
                dataType: "json",
                data: $("#service_register_form").serialize() + layers_sub_url, // serializes the form's elements.
                progress: function(jqXHR, progressEvent) {
                    if (progressEvent.lengthComputable) {
                        console.log("Importing service and layers - " + (Math.round(progressEvent.loaded / progressEvent.total * 100)) + "%");
                    } else {
                        console.log("Importing service and layers...");
                    }
                },
                success: function(data)
                {
                    $("#submit_button").prop("disabled",false);
                    $("#responseDiv").html("");
                    for (var item in data) {
                        if (data[item].available_layers) {
                            $.each(data[item].available_layers,function(i,row){
                                $('<tr>').attr('id',i).
                                        append($('<td>').text(row[0])).
                                        append($('<td>').text(row[1])).appendTo('#dataTable');
                            });
                            $("#tableDiv").show();
                        }
                        if (data[item].service_id) {
                            $('<div>').attr("class", "result").append($('<a>').
                                            attr('href', "/services/" + data[item].service_id).
                                            text(data[item].service_title||data[item].service_name)).
                                    appendTo("#responseDiv");
                        }
                        else {
                            $('<h4>').attr("class", "result").text(data[item].msg).appendTo("#responseDiv");
                        }
                        $("#responseDiv").show();
                    }
                },
                error: function(data) {
                    $("#submit_button").prop("disabled",false);
                    $(".error").html(data.responseText);
                    $(".error").show();
                }
            });

            return false; // avoid to execute the actual submit of the form.
        });
    });
</script>
{% endblock %}
