{% extends "site_base.html" %}
{% load i18n %}
{% load url from future %}

{% block title %} {{ block.super }} {% endblock %}

{% block body_class %}datatable{% endblock %}

{% block body_outer %}
<div class="page-header">
  <a href="{% url "datatable_browse" %}" class="btn btn-primary pull-right">{% trans "Explore Data Tables" %}</a>
  <h2 class="page-title">{% trans "Upload Data Table" %}</h2>
</div>
<div class="row">    
  {% block body %}{% endblock body %}
  {% block sidebar %}{% endblock sidebar %}
</div>
{% endblock body_outer %}
